

#header-nav {
	border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: red !important;
    margin: 0;
}
#list {
    background-color: cyan;
    margin: 0;
}

.section_item{
	background-color:gray;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#myHeader{
	padding: 0;
}

