
.first{
	background: red;
}

.second{
	background: green;
}

.third{
	background: yellow;
}

.title {
	float: right;
	border: 1px solid black;
	width: 100px;
	height: 20px;
	text-align: center;
	line-height: 20px;
}

.title_1{
	background: #d08d8d;
}

.title_2{
	background: #b93c3b;
}

.title_3{
	background: #e1ca8d;
}

.contentText{

	float: left;
	padding: 10px;
}

.first, .second, .third{

		border: 1px solid black;
		/*box-sizing: border-box;*/
		margin: 10px;
		overflow: auto;

}

@media(min-width: 992px){
	.first, .second, .third{
		width: calc(33.3% - 22px);
		float: left;
	}

}

@media (min-width: 768px) and (max-width: 991px){


	.first, .second{
		width: calc(50% - 22px);
		float: left;;
	}

	.third {
		width: calc(100% -11px);
		float: left;
	}
}

@media(max-width: 767){
	.first, .second, .third{
		width: calc(100% -11px);
		float: left;
	}
}
